#h2-txt-dashboard {
    font-family: 'Irish Grover';
    color: white;
    background-color: #b270a8;
}
#container-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  #box-dashboard {
    padding: 20px;
    background-color: #fbf7f5;
    border: 1px solid #ccc;
  }

