@import './GenericForm.css';

/* Específico para o formulário de turma */
.form-turmas-overlay {
  @extend .form-overlay;
}

.form-turmas-container {
  @extend .form-container;
  border: #ff8543 solid 1rem;
  border-top-width: 2rem;
}

.form-turmas-header {
  @extend .form-header;
  background-color: #ff8543;
  border: 3px solid #ff8543;
}

/* Botões adicionais do formulário de turma */
.form-turmas-buttons {
  display: flex;
  justify-content: flex-end;
}
