@import '../../GenericForm/GenericForm.css';

/* Específico para o formulário de aluno */
.form-aluno-overlay {
  @extend .form-overlay;
}

.form-aluno-container {
  @extend .form-container;
  border: #EB9EE8 solid 1rem;
  border-top-width: 2rem;
}

.form-aluno-header {
  @extend .form-header;
  background-color: #EB9EE8;
  border: 3px solid #EB9EE8;
}

/* Botões adicionais do formulário de aluno */
.stepper-buttons {
  gap: 10px;
  display: flex;
}
