.notifications-container {
  background-color: #73b8f5;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: 'Irish Grover', sans-serif;
}

.notifications-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5em;
  color: #fff;
}

.notifications {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.icon {
  font-size: 30px;
}
.pill-notification {
  background-color: #fdecb0;
  border-radius: 12px;
  font-family: 'Coming Soon', cursive;
  font-size: 12pt;
  color: grey;
}
